body{
    background-color: antiquewhite;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}
  

#image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
#footer {
    margin-top: 4rem;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 2rem;
}

#navbar {
    background-color: rgb(21, 10, 10);
    color: indigo;
    text-align: center;
    z-index: 1;

}
.nav-link {
    text-decoration: none;
    color: aliceblue;
    margin: 0 4vw;
}
.nav-link :hover {
    color: blue;
    text-decoration: none;

}
#navbar{
    position: sticky;
    top: auto;
}
@media screen and (max-width:715px) {
    footer {
        height: 250px;
        background-color: blue;
    }
}
    





    
